{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Car list</h1>
    <h2>
        <button style="" type="button" class="btn btn-outline-primary">
            <a href="{% url 'taxi:car-create' %}">+</a>
        </button>
        <form action="" method="get">
            {{ search_car|crispy }}
            <input type="submit" value="Search" class="btn btn-outline-success">
        </form>
    </h2>

    {% if car_list %}
        <ul>
            {% for car in car_list %}
                <li>
                    <a href="{% url "taxi:car-detail" pk=car.id %} ">{{ car.model }} ({{ car.manufacturer.name }})</a>
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>There are no cars in taxi</p>

    {% endif %}
{% endblock %}
